.channels {
  margin-bottom: 40px;
  margin-top: 40px;
}

.channelinfo {
  margin-top: 80px;
}

.info {
}

.createchannelheader {
  margin-top: 50px;
}

.inputchannel {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mychannels {
  margin-top: 60px;
  margin-bottom: 30px;
}

.findchannel {
  margin-bottom: 30px;
}
