
.logo1 {
  justify-content: center;
}
.logo {
max-width: 100%;
max-height: 400px;
margin: 0 auto;
}


.steps {
  margin-top: 60px;
  text-align: center;

}

.col-sm {
  border: 1px solid black;
  height: 200px;
  border-radius: 0.2em;
  margin: 5px;
}


.motto {
  margin-top: 30px;
  margin-bottom: 20px;
}

.font-weight-normal {
  color: #28a745;
}
