.userinfo {
  margin-top: 30px;
}

.updateinfo {
  margin-top: 50px;
  display: block;
}

.editdetails {
  margin-top: 40px;
}

.editdetails h2 {
  margin-bottom: 30px;
}

.nameeditfield {
  margin-bottom: 20px;
}
